/*   
Theme Name: MAHKO Theme
Theme URI: 
Description: 
Author: 
Author URI: 
Version: 1.0
*/
@media screen {

.recentcomments a{display:inline!important;padding:0!important;margin:0!important;}
.site-title{margin-top:0;margin-bottom:0;}
.blog-item .blog-info .blog-title,.contactblock,.contact-modal .contact-modeal-heading,.stepbox .step,.probox .probox-heading,.jobbox .jobbox-footer a{background:#EF4A43;}
.button.stroke,.button.stroke .icon,.field input.error,.accordion.faq.toggle .accordion-item.active,.callout.action,.iconbox.top .iconbox-content h4,.blog-item.small.sticky{border-color:#EF4A43;}
.button.stroke,.testimonail-detail .testimonial-info span.name,.counter-box .counter-icon,.service-box .service-icon,.accordion .accordion-heading .accordion-title a,.accordion .accordion-heading .accordion-title a:after,.tabs.main .tabNavigation li.active a,.tabs.center .tabNavigation li.active a,.pricing-table .pricing-content ul li i,.iconbox .iconbox-icon,.carouselbox .nav a:hover,.icon-list i{color:#EF4A43;}
a,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{color:#272727;}
a:hover,h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#EF4A43;}
a:active,h1 a:active,h2 a:active,h3 a:active,h4 a:active,h5 a:active,h6 a:active{color:#EF4A43;}
.button,button,input[type="submit"],input[type="button"],input[type="reset"]{background:#7ececf;}
.button:hover,.button:focus,button:hover,button:focus,input[type="submit"]:hover,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:focus,input[type="button"]:focus,input[type="reset"]:focus{background:#272727;}
#header .top-header{background-color:#fbfbfb;}
#header .site-menu .site-menu-inner{background-color:#919191;}
#header .site-menu .site-menu-inner ul li a{border-color:#a3a3a3;}
#header .site-menu .site-menu-inner ul>li.sfHover>a,#header .site-menu .site-menu-inner ul li a:hover,#header .site-menu .site-menu-inner ul li.current-menu-item>a,#header .site-menu .site-menu-inner ul ul,#header .site-menu .site-menu-inner .sf-mega-content,#header .menu-container.sm .site-menu .site-menu-inner ul li a:hover,#header .menu-container.sm .site-menu .site-menu-inner ul>li.sfHover>a,#header .menu-container.sm .site-menu .site-menu-inner ul li.current-menu-item>a,#header .menu-container.sma .site-menu .site-menu-inner ul li a:hover,#header .menu-container.sma .site-menu .site-menu-inner ul>li.sfHover>a,#header .menu-container.sma .site-menu .site-menu-inner ul li.current-menu-item>a{background-color:#1d65fa;}
#header .site-menu .site-menu-inner ul>li.sfHover>a,#header .site-menu .site-menu-inner ul li a:hover,#header .site-menu .site-menu-inner ul li.current-menu-item>a,#header .site-menu .site-menu-inner ul ul,#header .site-menu .site-menu-inner .sf-mega-content,#header .menu-container.sm .site-menu .site-menu-inner ul li a:hover,#header .menu-container.sm .site-menu .site-menu-inner ul>li.sfHover>a,#header .menu-container.sm .site-menu .site-menu-inner ul li.current-menu-item>a,#header .menu-container.sma .site-menu .site-menu-inner ul li a:hover,#header .menu-container.sma .site-menu .site-menu-inner ul>li.sfHover>a,#header .menu-container.sma .site-menu .site-menu-inner ul li.current-menu-item>a{border-color:#1d65fa;}
#header .menu-container.sma .site-menu .site-menu-inner ul ul a:hover,#header .menu-container.sma .site-menu .site-menu-inner ul ul li.sfHover>a,#header .menu-container.sma .site-menu .site-menu-inner ul ul li.current-menu-item>a,#header .menu-container.sm .site-menu .site-menu-inner ul ul a:hover,#header .menu-container.sm .site-menu .site-menu-inner ul ul li.sfHover>a,#header .menu-container.sm .site-menu .site-menu-inner ul ul li.current-menu-item>a,#header .site-menu .site-menu-inner ul ul a:hover,#header .site-menu .site-menu-inner ul ul li.sfHover>a,#header .site-menu .site-menu-inner ul ul li.current-menu-item>a{background-color:#003498;}
.heading-nav,.heading-nav ul li a{border-color:#f0f0f0;}
.heading-nav ul li a:hover,.heading-nav ul li.active a{border-color:#003498;}
#footer .footer-widget{background-color:#3f3f3f;}
#footer .footer-widget .widget-title{color:#ffffff;}
#footer .footer-widget .widget-title span{color:#e74c3c;}
#footer input,#footer textarea,#footer select,#footer button,#footer .footer-widget .widget,#footer .footer-widget .widget ul,#footer .footer-widget .widget ul li,#footer .footer-widget .widget ul li a,#footer .table>thead>tr>th,,#footer .table>tbody>tr>th,,#footer .table>tfoot>tr>th,,#footer .table>thead>tr>td,,#footer .table>tbody>tr>td,,#footer .table>tfoot>tr>td{border-color:#4a4a4a;}
#footer .footer-widget .widget-title{border-bottom-color:#4a4a4a;}
#footer .footer-credits.page {background-color: transparent;}
#footer .footer-credits.page .footer-credits-inner {background-color: #3f3f3f;padding-left:10px;padding-right: 10px;}
#footer .footer-credits{background-color:#3f3f3f;}
#footer .footer-credits .footer-credits-inner{boder-top-color:#4a4a4a;}
#footer .footer-credits a{color:#eee;}
#footer .footer-credits a:hover{color:#EF4A43;}
#footer .footer-credits a:active{color:#EF4A43;}
.widget-title h4{color:#272727;}
.widget .widget-title span,.widget.tags a:hover{color:#EF4A43;}
.widget ul li a:before,.widget.contact_widget ul li i,.widget.recent-post ul li .post-meta span i,.widget.contact_widget ul li i{color:#EF4A43;}.widget ul li,.widget ul li a,.widget{boder-color:#f0f0f0;}
.blog-item .blog-icon{background-color:#EF4A43;}
.blog-item .entry-meta span i,.blog-item .entry-info span i{color:#EF4A43;}
.entry-image .entry-action span{background-color:#EF4A43;}
.small-quote{borer-left-color:#EF4A43;}
.review-box .review-score,.review-box .review-area .progress .progress-bar{background-color:#EF4A43;}
.pagenavi li{background-color:#f0f0f0;}
.pagenavi li span{background-color:#EF4A43;}
.pagenavi li span{border-color:#343030;}
.heading-area{border-left-color:#EF4A43;}
.heading-area .heading span,.heading-area .heading strong{color:#1d65fa;}
.portfolio-item .portfolio-info .portfolio-info-inner{background-color:#EF4A43;}
.product-item.hover .product-title-area,#product-detail .product-amount .field.a span{background-color:#EF4A43;}
body{font-family:Open Sans;line-height:23px;font-weight:300;font-style:normal;color:#999;font-size:13.8px;}
h1{font-family:Open Sans;line-height:36px;font-weight:400;font-style:normal;color:#272727;font-size:30px;}
h2{font-family:Open Sans;line-height:30px;font-weight:400;font-style:normal;color:#272727;font-size:26px;}
h3{font-family:Open Sans;line-height:28px;font-weight:400;font-style:normal;color:#272727;font-size:20px;}
h4{font-family:Open Sans;line-height:26px;font-weight:400;font-style:normal;color:#272727;font-size:18px;}
h5{font-family:Open Sans;line-height:24px;font-weight:400;font-style:normal;color:#272727;font-size:16px;}
h6{font-family:Open Sans;line-height:22px;font-weight:400;font-style:normal;color:#272727;font-size:14px;}
h1.large{font-family:Open Sans;line-height:44px;font-weight:800;font-style:normal;color:#272727;font-size:33px;}
h2.large{font-family:Open Sans;line-height:39px;font-weight:800;font-style:normal;color:#272727;font-size:30px;}
h3.large{font-family:Open Sans;line-height:36px;font-weight:800;font-style:normal;color:#272727;font-size:27px;}
h4.large{font-family:Open Sans;line-height:33px;font-weight:800;font-style:normal;color:#272727;font-size:24px;}
h5.large{font-family:Open Sans;line-height:40px;font-weight:800;font-style:normal;color:#272727;font-size:22px;}
h6.large{font-family:Open Sans;line-height:21px;font-weight:800;font-style:normal;color:#272727;font-size:18px;}
	
} /* END print media */